<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>에이쁠아이►대학생활 Tip</title>
  <link rel="icon" href="{{ url_for('static', filename='index_png/aiplus_logo_header.png') }}" type="image/png" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tip.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header_footer.css') }}" />
</head>
    <body>
            <!-- Header Placeholder -->
    <div id="header-placeholder"></div>
    <h1 class="page-header">🏫 대학 생활 Tip</h1>
    <div class="tip-container">

      <div class="tip-grid" id="tip-list">
        <!-- More cards dynamically inserted -->
      </div>

      <div class="pagination">
          <button class="page-btn" data-page="first">&laquo;</button>
          <button class="page-btn" data-page="1">1</button>
          <button class="page-btn" data-page="2">2</button>
          <button class="page-btn" data-page="3">3</button>
          <button class="page-btn" data-page="last">&raquo;</button>
      </div>
  </div>
    <div id="footer-placeholder"></div>
    <!-- JavaScript 파일 링크 -->
    <script src="{{ url_for('static', filename='js/header_footer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tip.js') }}"></script>
</body>
</html>
